:root {
  --main-color: rgb(73, 163, 241);
  --text-color: #fff;
  --bg-color: #fff;
  --big-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}

*::selection {
  background-color: var(--main-color);
  color: #fff;
}

.header {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 170px;
  background-color: var(--bg-color);
}

.logo {
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem;
}

.navbar {
  display: flex;
  list-style-type: none;
}

.navbar a {
  color: #b799ff;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--main-color);
  transition: 0.4s;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.section {
  padding: 70px 8%;
}

.section:nth-child(n + 1) {
  height: 100vh;
}

.section:nth-child(odd) {
  background: #fff;
}

/* ----- HOME ----- */
.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.home-img img {
  max-width: 100%;
  width: 500px;
  height: auto;
}

.home-text {
  width: 90%;
}

.home-text h1 {
  font-size: var(--big-font);
  color: var(--main-color);
}

.home-text h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;
}

.home-text__btn {
  display: flex;
}

.register {
  height: fit-content !important;
  padding: 30px auto;
}

.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #f0f2f5;
  border-radius: 15px;
  padding: 60px;
  margin: 0 10%;
  background-color: #f0f2f5;
}

.register__text {
  width: 60%;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* ----- INSTRUCTION ----- */
.instruction {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.instruction__img {
  width: 80%;
  display: flex;
  justify-content: center;
}

.instruction__img img {
  width: 700px;
  height: auto;
  object-fit: contain;
}

.instruction__text {
  width: 50%;
}

.instruction__text h2 {
  font-size: var(--h2-font);
}

.instruction__text p {
  margin: 0.8rem 0 1.2rem;
  line-height: 1.7;
}

/* ----- FOOTER ----- */

.landing_footer {
  width: 100%;
  padding: 20px;
  height: fit-content !important;
}

.landing_footer__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  width: 33%;
}

.col h4 {
  font-size: 1.2rem;
  margin-bottom: 25px;
  position: relative;
}

.col h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
  background: var(--main-color);
}

.landing_footer__img {
  height: 60px;
  object-fit: contain;
}

.landing_footer__info-text {
  padding-right: 10px;
  margin-left: 40px;
  font-weight: 400;
}

.landing_footer__contact {
  display: flex;
  flex-direction: column;
}

.landing_footer__contact-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.landing_footer__contact-text-icon {
  margin-right: 10px;
}

.landing_footer-text {
  color: var(--main-color);
  font-size: 18px;
}

@media (max-width: 1560px) {
  .header {
    padding: 15px 40px;
  }

  :root {
    --big-font: 3.5rem;
    --h2-font: 2rem;
  }
}

@media (max-width: 1250px) {
  .section {
    padding: 50px 3%;
    height: fit-content !important;
  }

  #menu-icon {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2b2640;
    transition: 0.3s;
  }

  .header .navbar.active {
    top: 90px;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
  }

  .instruction {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .instruction__text {
    width: 100%;
  }

  .instruction__img {
    order: 2 !important;
    margin: 0 !important;
  }

  .instruction__img img {
    width: 500px;
    height: auto;
  }

  .instruction__text {
    order: 1 !important;
  }

  .col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .header {
    padding: 10px 16px;
  }

  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .home-text {
    justify-self: center;
  }

  .home-text__btn {
    align-items: center;
    justify-content: center;
  }

  .register__text {
    width: 100%;
  }

  .instruction {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .instruction__text {
    width: 100%;
  }

  .instruction__img {
    order: 2 !important;
    margin: 0 !important;
  }

  .instruction__img img {
    width: 500px;
    height: auto;
  }

  .instruction__text {
    order: 1 !important;
  }

  .section {
    padding: 100px 7%;
    height: fit-content !important;
  }
}

@media (max-width: 575px) {
  .col {
    width: 100%;
  }

  .home-text__btn {
    flex-direction: column;
    align-items: stretch;
  }

  .home-text__btn a {
    margin-top: 20px;
    margin-right: unset !important;
  }

  .landing_footer__img {
    width: 100%;
  }

  .instruction__img img {
    width: 100%;
    height: auto;
  }

  .instruction__text {
    width: 100%;
  }
}
