.fc td{
  
}
.block {
    display: block;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    word-wrap: break-word
}
.fc-event{
    cursor: pointer;
    flex-direction: column;
    /* padding: 1rem; */
}
.fc-event:hover{
    background-color: transparent;
}
.fc-daygrid-day-top{
    flex-direction: row !important;
    padding-left: 1rem;
}
.fc-col-header{
    background-color: rgb(125 211 252);
}
.sub-calendar .fc-header-toolbar{
    font-size: small;
    margin-bottom: 0;
}
.sub-calendar .calendar tr{
    /* height: fit-content; */
}