/* all calendar */
.fc-highlight{
    background-color: #2f88ff83 !important;
}
.block {
    display: block;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    word-wrap: break-word
}
.fc-event{
    cursor: pointer;
    padding: 0.25rem;
    padding-left: 0.5rem;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    word-wrap: break-word
    /* flex-direction: column; */
    /* padding: 1rem; */
}
.fc-day { 
    border-radius: 5px;
}
.fc-daygrid-day{
    cursor: pointer;
}
.fc-daygrid-day:hover{
    background-color: #2f88ff83 !important;
}
.fc-event .fc-event-main{
    cursor: pointer;
}
.fc-event:hover{
    background-color: #2f88ff83 !important;
}
.fc-daygrid-day-top{
    flex-direction: row !important;
    /* padding-left: 1rem; */
}
.fc-col-header{
    background-color: rgb(92, 198, 247);
}
.fc-timegrid-axis-cushion{
    /* font-size:medium; */
}
.fc-next-button{
}
.calendar-page{
    font-family: Arial, Helvetica, sans-serif;
}

/* main-calendar */
.main-calendar .fc-header-toolbar{
    font-size: medium;
    margin-bottom: 0 !important;
}


/* sub-calendar */
.sub-calendar .fc-header-toolbar{
    font-size: small;
    margin-bottom: 0 !important;
}
.sub-calendar .fc-daygrid-day-events{
    display: none;
}
